.cell {
    border: 3px solid #f1c40f;
    height: 10vh;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1.5rem;
    cursor: pointer;
    margin: 0.0001rem;
}
