.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-input {
    border: 2px solid coral;
    border-radius: 0.5rem;
    width: 16vw;
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}

.button {
    background-color: coral;
    width: 4vw;
    height: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5rem;
}